#!/bin/bash

export BOILERPLATE_HTTP_PORT="3000"
export BOILERPLATE_HTTP_USE_SWAGGER="true"

export BOILERPLATE_LOGGING_MIN_SEVERITY="debug"
export BOILERPLATE_LOGGING_VERBOSITY="v3"
export BOILERPLATE_LOGGING_ENVIRONMENT="local"
export BOILERPLATE_LOGGING_USE_COLOR="true"
export BOILERPLATE_LOGGING_USE_BRACKET="true"

export BOILERPLATE_DATABASE_PORT="2000"

export BOILERPLATE_MIGRATE_DATABASE_URL="postgres://postgres@localhost:$BOILERPLATE_DATABASE_PORT/boilerplate?password=password"
export BOILERPLATE_MIGRATE_WEBSERVER_USER_PASSWORD="password"
export BOILERPLATE_MIGRATE_REPORTING_USER_PASSWORD="password"

export BOILERPLATE_DATABASE_URL="postgres://webserver@localhost:$BOILERPLATE_DATABASE_PORT/boilerplate?password=$BOILERPLATE_MIGRATE_WEBSERVER_USER_PASSWORD"
export BOILERPLATE_DATABASE_POOL_CACHE_TTL="60"
export BOILERPLATE_DATABASE_POOL_MAX_RESOURCES="5"

export BOILERPLATE_SQLX_VERSION="0.5.13"
export DATABASE_URL="$BOILERPLATE_MIGRATE_DATABASE_URL"
