export BOILERPLATE_API_PORT="5000"
export BOILERPLATE_API_USE_SWAGGER="true"

export BOILERPLATE_LOGGING_MIN_SEVERITY="debug"
export BOILERPLATE_LOGGING_VERBOSITY="v3"
export BOILERPLATE_LOGGING_ENVIRONMENT="local"
export BOILERPLATE_LOGGING_USE_COLOR="true"
export BOILERPLATE_LOGGING_USE_BRACKET="true"

export BOILERPLATE_DATABASE_URL="postgres://webserver@localhost:4000/boilerplate?password=password"
export BOILERPLATE_DATABASE_NUMBER_OF_STRIPES="4"
export BOILERPLATE_DATABASE_UNUSED_CONNECTION_TIMEOUT="60"
export BOILERPLATE_DATABASE_MAX_CONNECTIONS_PER_STRIPE="5"

export BOILERPLATE_MIGRATE_DATABASE_URL="postgres://postgres@localhost:4000/boilerplate?password=password"
export BOILERPLATE_MIGRATE_WEBSERVER_USER_PASSWORD="password"

export BOILERPLATE_SQLX_VERSION="0.5.13"
export DATABASE_URL="$BOILERPLATE_MIGRATE_DATABASE_URL"
